@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body {
            font-family: Arial;
            background: #f3f3f3;
            padding: 20px;
        }

        .box {
            background: white;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 8px;
            text-align: center;
            max-width: 500px;
            margin: auto;
        }
        h1{
            text-align: center;
        }
        button {
            padding: 8px 15px;
            margin: 5px;
            cursor: pointer;
        }

        .partida {
            background: #ececec;
            padding: 10px;
            margin: 5px 0;
            border-radius: 5px;
        }
        #add{
            font-size: 16px;
            padding: 2px;
        }
        input{
            font-size: 17px;
            width: 170px;
        }