@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial;
    background: #f3f3f3;
    padding: 20px;
    height: 100vh;
}

.box {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 700px;
    margin: auto;
    font-size: 22px;
}

h1 {
    text-align: center;
}

button {
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
}

.partida {
    background: #ececec;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

#add {
    background-color: rgb(52, 141, 64);
    border: none;
}

input {
    font-size: 20px;
    width: 170px;
}

#input {
    font-size: 20px;
}

#selDelete {
    font-size: 30px;
}

.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9999;
}

.popup-conteudo {
    background: #929191;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    min-width: 300px;
    max-width: 90%;
}
.match{
display: block;
text-align: left;
background-color: #f5f2f2;
color: green;
padding: 5px;
padding-bottom: 20px;
}
#btn-lose{
    background-color: #929191;
    padding: 10px;
    margin-top: 30px;
margin-left: auto;
margin-right: auto;
    display: block;
}
.link{
    text-decoration: none;
}
#popupStatus{
    background-color: #2b2b2b;
    align-items: center;
    font-size: 20px;
    color: white;
    width: 800px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#conteudoLosers{
    border-bottom: 2px solid darkgray;
}
.resultadoL{
    color: blue;
}
#winner{
    margin-left: -20px;
}
select{
    cursor: pointer;
}
.bye {
    color: #999;
    font-style: italic;
    font-weight: bold;
}

.bye-btn {
    background-color: #e0e0e0;
    color: #3121c4;
    cursor: not-allowed;
    font-weight: bold;
}
