body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

.form {
    background: #fff;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form input, .form select, .form button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

button {
    cursor: pointer;
}

.partida {
    background: #fff;
    margin: 10px auto;
    padding: 10px;
    max-width: 500px;
    border-left: 5px solid #333;
}

.brancas {
    color: #000;
}

.pretas {
    color: #444;
}
.agenda{
    text-align: center;
}
.lista{
    text-align: center;
}
.listJog{
    text-align: center;
}
#listaPartidas{
    text-align: center;
    
 
}
.match{
background-color: rgb(185, 185, 185);
padding-top: 10px;
}
.deletar{
    display: block;
    margin: auto;
    font-size: 20px;
    padding: 4px;
    background-color: red;
    color: white;
}
a{
    text-decoration: none;
}
.sitepri{
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: red;
    font-size: 20px;
    text-decoration: none;
}
.sitepri:hover{
    color: white;
}